In [37]:
# importing dependencies
import pandas as pd
import pypyodbc

In [38]:
# creating connection 
SERVER_NAME = 'LAPTOP-ATBQGGV6\SQLEXPRESS'
DATABASE_NAME = 'ev_locations_canada'
conn = pypyodbc.connect('DRIVER={SQL Server Native Client 11.0};server=' + SERVER_NAME + ';DATABASE = ' + DATABASE_NAME + ';Trusted_Connection=yes;')

In [39]:
#query
sql_query = """
SELECT TOP 100* 
FROM final_table
"""

In [40]:
df = pd.read_sql(sql_query, conn)

DatabaseError: Execution failed on sql '
SELECT TOP 100*
FROM final_table
': ('42S02', "[42S02] [Microsoft][SQL Server Native Client 11.0][SQL Server]Invalid object name 'final_table'.")